<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备分组')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-deviceTeam-edit" th:object="${devDeviceTeam}">
            <input name="deviceTeamId" th:field="*{deviceTeamId}" type="hidden"><!--~--><!--~columnBegin-->
            <div class="form-group">
                <label class="col-sm-3 control-label">父菜单ID：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="treeId" name="parentId" type="hidden" th:field="*{parentId}" />
                        <input class="form-control" type="text" onclick="selectDeviceTeamTree()" id="treeName" readonly="true" th:field="*{parentName}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div><!--~parentId-->
            <div class="form-group">
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="orderNum" th:field="*{orderNum}" class="form-control" type="text" >
                </div>
            </div><!--~orderNum-->
            <div class="form-group">
                <label class="col-sm-3 control-label">分组名称：</label>
                <div class="col-sm-8">
                    <input name="teamName" th:field="*{teamName}" class="form-control" type="text" >
                </div>
            </div><!--~teamName-->
            <div class="form-group">
                <label class="col-sm-3 control-label">分组描叙：</label>
                <div class="col-sm-8">
                    <input name="teamScript" th:field="*{teamScript}" class="form-control" type="text" >
                </div>
            </div><!--~teamScript-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "item/deviceTeam";
        /**~初始化验证*/
        $("#form-deviceTeam-edit").validate({
            onkeyup: false,
            rules:{
                end:{}
            },
            messages: {
            end:{}
            },
            focusCleanup: true
        });/**~validate*/


        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-deviceTeam-edit').serialize());
            }
        }

        /*设备分组-新增-选择父部门树*/
        function selectDeviceTeamTree() {
            var options = {
                title: '设备分组选择',
                width: "380",
                url: prefix + "/selectDeviceTeamTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
        }
    </script>
</body>
</html>