<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改建筑公司')" />
    <th:block th:include="include :: citySet-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-company-edit" th:object="${itemCompany}">
            <input name="companyId" th:field="*{companyId}" type="hidden"><!--~--><!--~columnBegin-->
            <input name="deptId"  type="hidden"  th:field="*{deptId}" id="treeId"/><!--~deptId-->
            <div class="form-group">
                <label class="col-sm-3 control-label">公司名称：</label>
                <div class="col-sm-8">
                    <input name="companyName" th:field="*{companyName}" class="form-control" type="text">
                </div>
            </div><!--~companyName-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人：</label>
                <div class="col-sm-8">
                    <input name="contact" th:field="*{contact}" class="form-control" type="text">
                </div>
            </div><!--~contact-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-8">
                    <input name="phonenumber" th:field="*{phonenumber}" class="form-control" type="text">
                </div>
            </div><!--~phonenumber-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮箱：</label>
                <div class="col-sm-8">
                    <input name="email" th:field="*{email}" class="form-control" type="text">
                </div>
            </div><!--~email-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">详细地址：</label>
                <div class="col-sm-8">
                    <input name="fullAddress" th:field="*{fullAddress}" class="form-control" type="text">
                </div>
            </div><!--~fullAddress-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">纳税人识别号：</label>
                <div class="col-sm-8">
                    <input name="taxpayerNumber" th:field="*{taxpayerNumber}" class="form-control" type="text">
                </div>
            </div><!--~taxpayerNumber-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">信用代码：</label>
                <div class="col-sm-8">
                    <input name="creditCode" th:field="*{creditCode}" class="form-control" type="text">
                </div>
            </div><!--~creditCode-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">注册资金：</label>
                <div class="col-sm-8">
                    <input name="registeredCapital" th:field="*{registeredCapital}" class="form-control" type="text">
                </div>
            </div><!--~registeredCapital-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位类型：</label>
                <div class="col-sm-8">
                    <select name="unittype" class="form-control m-b" th:with="type=${@dict.getType('item_unit_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{unittype}"></option>
                    </select>
                </div>
            </div><!--~unittype-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行代码：</label>
                <div class="col-sm-8">
                    <input name="bankCode" th:field="*{bankCode}" class="form-control" type="text">
                </div>
            </div><!--~bankCode-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">支行名称：</label>
                <div class="col-sm-8">
                    <input name="subbranch" th:field="*{subbranch}" class="form-control" type="text">
                </div>
            </div><!--~subbranch-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行卡号：</label>
                <div class="col-sm-8">
                    <input name="bankNumber" th:field="*{bankNumber}" class="form-control" type="text">
                </div>
            </div><!--~bankNumber-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: citySet-js" />
    <script type="text/javascript">
        var prefix = ctx + "item/company";
        /**~初始化验证*/
        $("#form-company-edit").validate({
            focusCleanup: true
        });/**~validate*/

        $("#fullAddress").click(function (e) {
            SelCity(this,e);
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-company-edit').serialize());
            }
        }
    </script>
</body>
</html>