<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增测试')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-testx-add"><!--~--><!--~columnBegin-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="testxName" class="form-control" type="text" >
                </div>
            </div><!--~testxName-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">描叙：</label>
                <div class="col-sm-8">
                    <input name="script" class="form-control" type="text" >
                </div>
            </div><!--~script-->
            <div class="form-group">
                <label class="col-sm-3 control-label">部门：</label>
                <div class="col-sm-8">
                    <select name="testyId" class="form-control m-b"  >
                        <option th:each="testy:${testys}" th:value="${testy.testyId}" th:text="${testy.testyName}"></option>
                    </select>
                </div>
            </div><!--~testyId-->
        </form>
    </div>
    <th:block th:include="include :: footer" />

    <script type="text/javascript">
        var prefix = ctx + "item/testx";

        $(function() {
        });
        /**~初始化验证*/
        $("#form-testx-add").validate({
            onkeyup: false,
            rules:{
                end:{}
            },
            messages: {
            end:{}
            },
            focusCleanup: true
        });/**~validate*/

        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-testx-add').serializeArray();
                $.operate.save(prefix + "/add", data);
            }
        }

    </script>
</body>
</html>