<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增来访记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-vtrRecord-add"><!--~--><!--~columnBegin-->
            <input name="deptId" type="hidden" id="treeId"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">机构：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属项目" class="form-control" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div><!--~deptId-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">访客：</label>
                <div class="col-sm-8">
                    <input name="subscribeId" class="form-control" type="text" >
                </div>
            </div><!--~subscribeId-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="personnelName" class="form-control" type="text" >
                </div>
            </div><!--~personnelName-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">登记照片：</label>
                <div class="col-sm-8">
                    <input name="registrationPhoto" class="form-control" type="text" >
                </div>
            </div><!--~registrationPhoto-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">打卡照片：</label>
                <div class="col-sm-8">
                    <input name="punchCardPhotos" class="form-control" type="text" >
                </div>
            </div><!--~punchCardPhotos-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">打卡时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="punchCardTime" class="form-control" placeholder="yyyy-MM-dd" type="text" >
                    </div>
                </div>
            </div><!--~punchCardTime-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('item_face_device_channel_type')}">
                        <input type="radio" th:id="${'punchCardState_' + dict.dictCode}" name="punchCardState" th:value="${dict.dictValue}" th:checked="${dict.default}" >
                        <label th:for="${'punchCardState_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div><!--~punchCardState-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "item/vtrRecord";

        /**~初始化验证*/
        $("#form-vtrRecord-add").validate({
            onkeyup: false,
            rules:{
                end:{}
            },
            messages: {
            end:{}
            },
            focusCleanup: true
        });/**~validate*/

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-vtrRecord-add').serialize());
            }
        }

        $("input[name='punchCardTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        			 /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId+"/1";
            var options = {
                title: '选择项目',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
        }
    </script>
</body>
</html>