<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增${functionName}')" />
#foreach($column in $columns)
#if($column.insert && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")
    <th:block th:include="include :: datetimepicker-css" />
#break
#end
#end
#foreach ($column in $joinColumns)
#if($column.htmlType=="select2")
	<th:block th:include="include :: select2-css" />
    <link href="/ajax/libs/jasny/jasny-bootstrap.min.css" rel="stylesheet"/>
#break
#end
#end
#foreach ($column in $joinColumns)
#if($column.htmlType=="checktree")
    <th:block th:include="include :: ztree-css" />
#break
#end
#end
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-${businessName}-add"><!--~--><!--~columnBegin-->
#foreach($column in $columns)
#set($field=$column.javaField)
#if($column.insert && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($dictType=$column.dictType)
#if("" != $treeParentCode && $column.javaField == $treeParentCode)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <div class="input-group">
#set($BusinessName=$businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
#set($treeId = "${className}?.${treeCode}")
                        <input id="treeId" name="${treeParentCode}" type="hidden" th:value="${${treeId}}"/>
                        <input class="form-control" type="text" onclick="select${BusinessName}Tree()" id="treeName" readonly="true" th:value="${${treeName}}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "input")
            <div class="form-group">    
                <label class="col-sm-3 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <input name="${field}" class="form-control" type="text" #if($column.required) required#end>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "tree")
#set($targetBusinessName=$column.targetBusinessName.substring(0,1).toUpperCase() + ${column.targetBusinessName.substring(1)})
            <div class="form-group">
                <label class="col-sm-3 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <input name="${field}" type="hidden" id="treeId"  #if($column.required) required#end/>
                    <div class="input-group">
                        <input onclick="select${targetBusinessName}Tree()" id="treeName" placeholder="请选择${comment}"  class="form-control" type="text">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "select" && "" != $dictType)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b" th:with="type=${@dict.getType('${dictType}')}" #if($column.required) required#end>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "select" && $dictType)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b" #if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "radio" && "" != $dictType)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('${dictType}')}">
                    <input type="radio" th:id="${'${field}_' + dict.dictCode}" name="${field}" th:value="${dict.dictValue}" th:checked="${dict.default}" #if($column.required) required#end>
                    <label th:for="${'${field}_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "radio" && $dictType)
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="${field}" value="" #if($column.required) required#end>
                        <label th:for="${field}" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "datetime")
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="${field}" class="form-control" placeholder="yyyy-MM-dd" type="text" #if($column.required) required#end>
                    </div>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType == "textarea")
            <div class="form-group">
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <textarea name="${field}" class="form-control" #if($column.required) required#end></textarea>
                </div>
            </div><!--~${field}-->
#end
#end
#end
#end
#foreach ($column in $joinColumns)
#set($field=$column.javaField)
#if($column.htmlType=="checkbox")
            <div class="form-group">
                <label class="col-sm-3 control-label">${column.targetFunctionName}：</label>
                <div class="col-sm-8">
                    <label th:each="${column.targetBusinessName}:${${column.targetBusinessName}s}" class="check-box">
                        <input name="${column.targetBusinessName}" type="checkbox" th:value="${${column.targetBusinessName}.${column.targetJavaField}}" th:text="${${column.targetBusinessName}.${column.targetValueJavaField}}">
                    </label>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType=="select2")
            <div class="form-group">
                <label class="col-sm-3 control-label">${column.targetFunctionName}：</label>
                <div class="col-sm-8">
                    <select id="${column.targetBusinessName}" class="form-control select2-multiple" multiple>
						<option th:each="${column.targetBusinessName}:${${column.targetBusinessName}s}" th:value="${${column.targetBusinessName}.${column.targetJavaField}}" th:text="${${column.targetBusinessName}.${column.targetValueJavaField}}"></option>
					</select>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType=="checktree")
            <div class="form-group">
                <label class="col-sm-3 control-label">${column.targetFunctionName}：</label>
                <div class="col-sm-8">
                    <div id="${column.targetBusinessName}Trees" class="ztree"></div>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType=="select")
            <div class="form-group">
                <label class="col-sm-3 control-label">${column.targetFunctionName}：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b"  #if($column.required) required#end>
                        <option th:each="${column.targetBusinessName}:${${column.targetBusinessName}s}" th:value="${${column.targetBusinessName}.${column.targetJavaField}}" th:text="${${column.targetBusinessName}.${column.targetValueJavaField}}"></option>
                    </select>
                </div>
            </div><!--~${field}-->
#elseif($column.htmlType=="radio")
            <div class="form-group">
                <label class="col-sm-3 control-label">${column.targetFunctionName}：</label>
                <div class="col-sm-8">
				    <div class="radio-box" th:each="${column.targetBusinessName}:${${column.targetBusinessName}s}">
                        <input type="radio" th:id="${'${field}_' + ${column.targetBusinessName}.${column.targetJavaField}}" name="${field}" th:value="${${column.targetBusinessName}.${column.targetJavaField}}" #if($column.required) required#end>
                        <label th:for="${'${field}_' + ${column.targetBusinessName}.${column.targetJavaField}}" th:text="${${column.targetBusinessName}.${column.targetValueJavaField}}"></label>
                    </div>
                </div>
            </div><!--~${field}-->
#end
#end
        </form>
    </div>
    <th:block th:include="include :: footer" />
#foreach($column in $columns)
#if($column.insert && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")
    <th:block th:include="include :: datetimepicker-js" />
#break
#end
#end
#foreach ($column in $joinColumns)
#if($column.htmlType=="select2")
	<th:block th:include="include :: select2-js" />
    <script src="/ajax/libs/jasny/jasny-bootstrap.min.js"></script>
#break
#end
#end
#foreach ($column in $joinColumns)
#if($column.htmlType=="checktree")
	<th:block th:include="include :: ztree-js" />
#break
#end
#end

    <script type="text/javascript">
        var prefix = ctx + "${moduleName}/${businessName}";

        $(function() {
#foreach ($column in $joinColumns)
#if($column.htmlType=="checktree")
            ${column.targetBusinessName}TreesInit();
#end
#end
        });
#foreach ($column in $joinColumns)
#if($column.htmlType=="checktree")
        function ${column.targetBusinessName}TreesInit(){
			var url = ctx + "${column.targetModuleName}/${column.targetBusinessName}/${column.joinBusinessName}TreeData";
			var options = {
				id: "${column.targetBusinessName}Trees",
		        url: url,
		        check: { enable: true },
		        expandLevel: 0
		    };
			$.tree.init(options);
        }
#elseif($column.joinType==1&&$column.htmlType == "tree")
#set($targetBusinessName=$column.targetBusinessName.substring(0,1).toUpperCase() + ${column.targetBusinessName.substring(1)})
        /*${column.columnComment}-新增-选择父部门树*/
        function select${targetBusinessName}Tree() {
           var options = {
              title: '${column.columnComment}选择',
              width: "380",
              url: ctx + "${column.targetModuleName}/${column.targetBusinessName}/select${targetBusinessName}Tree/",
                callBack: doSubmit
              };
              $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
#end
#end
        /**~初始化验证*/
        $("#form-${businessName}-add").validate({
            onkeyup: false,
            rules:{
#foreach($column in $columns)
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#if($column.unique||$column.validateFunction!="")
		   ${column.javaField}:{
#if($column.validateFunction!="")
                    ${column.validateFunction},
#end
#if($column.unique)
                    remote: {
                    url: prefix + "/check${AttrName}Unique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "${column.javaField}" : function() {
                            return $.common.trim($("#${column.javaField}").val());
                        }
                    },
                     dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                    }
#end
                },
#end
#end
                end:{}
            },
            messages: {
#foreach($column in $columns)
#if($column.unique)
	        ${column.javaField}:{
                remote: "${column.columnComment}已经存在"
		    },
#end
#end
            end:{}
            },
            focusCleanup: true
        });/**~validate*/

        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-${businessName}-add').serializeArray();
#foreach ($column in $joinColumns)
#if($column.htmlType=="checkbox")
                var ${column.targetJavaField}s = $.form.selectCheckeds("${column.targetBusinessName}");
                data.push({"name": "${column.targetJavaField}s", "value": ${column.targetJavaField}s});
#elseif($column.htmlType=="select2")
                var ${column.targetJavaField}s = $.form.selectSelects("${column.targetBusinessName}");
                data.push({"name": "${column.targetJavaField}s", "value": ${column.targetJavaField}s});
#elseif($column.htmlType=="checktree")
                var ${column.targetJavaField}s = $.tree.getCheckedNodes();
                data.push({"name": "${column.targetJavaField}s", "value": ${column.targetJavaField}s});
#end
#end
                $.operate.save(prefix + "/add", data);
            }
        }
#foreach($column in $columns)
#if($column.insert && !$column.superColumn && !$column.pk && $column.htmlType == "datetime")

        $("input[name='$column.javaField']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
#end
#end

#if($table.tree)
        /*${functionName}-新增-选择父部门树*/
        function select${BusinessName}Tree() {
            var options = {
                title: '${functionName}选择',
                width: "380",
                url: prefix + "/select${BusinessName}Tree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
        }
#end
    </script>
</body>
</html>