<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.item.mapper.ThmRecordMapper">
    
    <resultMap type="ThmRecord" id="ThmRecordResult"><!--~--><!--~columnBegin-->
        <result property="recordId"    column="record_id"    /><!--~record_id-->
        <result property="deptId"    column="dept_id"    /><!--~dept_id-->
        <result property="personnelId"    column="personnel_id"    /><!--~personnel_id-->
        <result property="teamId"    column="team_id"    /><!--~team_id-->
        <result property="teamName"    column="team_name"    /><!--~team_name-->
        <result property="personnelName"    column="personnel_name"    /><!--~personnel_name-->
        <result property="registrationPhoto"    column="registration_photo"    /><!--~registration_photo-->
        <result property="detectionPhotos"    column="detection_photos"    /><!--~detection_photos-->
        <result property="detectionTime"    column="detection_time"    /><!--~detection_time-->
        <result property="thermometry"    column="thermometry"    /><!--~thermometry-->
        <result property="deptName" column="dept_name"   />
    </resultMap>

    <sql id="selectThmRecordVo">
        select record_id, u.dept_id, personnel_id, team_id, team_name, personnel_name, registration_photo, detection_photos, detection_time, thermometry,
        d.dept_name
        from thm_record  u join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectThmRecordList" parameterType="ThmRecord" resultMap="ThmRecordResult">
        <include refid="selectThmRecordVo"/>
        <where><!--~--><!--~columnBegin_select-->
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
            </if><!--~dept_id_select-->
            <if test="personnelId != null "> and personnel_id = #{personnelId}</if><!--~personnel_id_select-->
            <if test="teamId != null "> and team_id = #{teamId}</if><!--~team_id_select-->
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if><!--~team_name_select-->
            <if test="personnelName != null  and personnelName != ''"> and personnel_name like concat('%', #{personnelName}, '%')</if><!--~personnel_name_select-->
            <if test="registrationPhoto != null  and registrationPhoto != ''"> and registration_photo = #{registrationPhoto}</if><!--~registration_photo_select-->
            <if test="detectionPhotos != null  and detectionPhotos != ''"> and detection_photos = #{detectionPhotos}</if><!--~detection_photos_select-->
            <if test="detectionTime != null "> and detection_time = #{detectionTime}</if><!--~detection_time_select-->
            <if test="thermometry != null "> and thermometry = #{thermometry}</if><!--~thermometry_select-->
        </where>
    </select>
    
    <select id="selectThmRecordById" parameterType="Long" resultMap="ThmRecordResult">
        <include refid="selectThmRecordVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertThmRecord" parameterType="ThmRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into thm_record
        <trim prefix="(" suffix=")" suffixOverrides=","><!--~--><!--~columnBegin_insert1-->
            <if test="deptId != null ">dept_id,</if><!--~dept_id_insert1-->
            <if test="personnelId != null ">personnel_id,</if><!--~personnel_id_insert1-->
            <if test="teamId != null ">team_id,</if><!--~team_id_insert1-->
            <if test="teamName != null  and teamName != ''">team_name,</if><!--~team_name_insert1-->
            <if test="personnelName != null  and personnelName != ''">personnel_name,</if><!--~personnel_name_insert1-->
            <if test="registrationPhoto != null  and registrationPhoto != ''">registration_photo,</if><!--~registration_photo_insert1-->
            <if test="detectionPhotos != null  and detectionPhotos != ''">detection_photos,</if><!--~detection_photos_insert1-->
            <if test="detectionTime != null ">detection_time,</if><!--~detection_time_insert1-->
            <if test="thermometry != null ">thermometry,</if><!--~thermometry_insert1-->
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=","><!--~--><!--~columnBegin_insert2-->
            <if test="deptId != null ">#{deptId},</if><!--~dept_id_insert2-->
            <if test="personnelId != null ">#{personnelId},</if><!--~personnel_id_insert2-->
            <if test="teamId != null ">#{teamId},</if><!--~team_id_insert2-->
            <if test="teamName != null  and teamName != ''">#{teamName},</if><!--~team_name_insert2-->
            <if test="personnelName != null  and personnelName != ''">#{personnelName},</if><!--~personnel_name_insert2-->
            <if test="registrationPhoto != null  and registrationPhoto != ''">#{registrationPhoto},</if><!--~registration_photo_insert2-->
            <if test="detectionPhotos != null  and detectionPhotos != ''">#{detectionPhotos},</if><!--~detection_photos_insert2-->
            <if test="detectionTime != null ">#{detectionTime},</if><!--~detection_time_insert2-->
            <if test="thermometry != null ">#{thermometry},</if><!--~thermometry_insert2-->
         </trim>
    </insert>

    <update id="updateThmRecord" parameterType="ThmRecord">
        update thm_record
        <trim prefix="SET" suffixOverrides=","><!--~--><!--~columnBegin_update-->
            <if test="deptId != null ">dept_id = #{deptId},</if><!--~dept_id_update-->
            <if test="personnelId != null ">personnel_id = #{personnelId},</if><!--~personnel_id_update-->
            <if test="teamId != null ">team_id = #{teamId},</if><!--~team_id_update-->
            <if test="teamName != null  and teamName != ''">team_name = #{teamName},</if><!--~team_name_update-->
            <if test="personnelName != null  and personnelName != ''">personnel_name = #{personnelName},</if><!--~personnel_name_update-->
            <if test="registrationPhoto != null  and registrationPhoto != ''">registration_photo = #{registrationPhoto},</if><!--~registration_photo_update-->
            <if test="detectionPhotos != null  and detectionPhotos != ''">detection_photos = #{detectionPhotos},</if><!--~detection_photos_update-->
            <if test="detectionTime != null ">detection_time = #{detectionTime},</if><!--~detection_time_update-->
            <if test="thermometry != null ">thermometry = #{thermometry},</if><!--~thermometry_update-->
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteThmRecordById" parameterType="Long">
        delete from thm_record where record_id = #{recordId}
    </delete>

    <delete id="deleteThmRecordByIds" parameterType="String">
        delete from thm_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

    <!--~--> <!--~actionBegin-->
</mapper>