<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.item.mapper.VtrRecordMapper">
    
    <resultMap type="VtrRecord" id="VtrRecordResult"><!--~--><!--~columnBegin-->
        <result property="deptId"    column="dept_id"    /><!--~dept_id-->
        <result property="recordId"    column="record_id"    /><!--~record_id-->
        <result property="subscribeId"    column="subscribe_id"    /><!--~subscribe_id-->
        <result property="personnelName"    column="personnel_name"    /><!--~personnel_name-->
        <result property="registrationPhoto"    column="registration_photo"    /><!--~registration_photo-->
        <result property="punchCardPhotos"    column="punch_card_photos"    /><!--~punch_card_photos-->
        <result property="punchCardTime"    column="punch_card_time"    /><!--~punch_card_time-->
        <result property="punchCardState"    column="punch_card_state"    /><!--~punch_card_state-->
        <result property="deptName" column="dept_name"   />
    </resultMap>

    <sql id="selectVtrRecordVo">
        select record_id,u.dept_id, subscribe_id, personnel_name, registration_photo, punch_card_photos, punch_card_time, punch_card_state,
        d.dept_name
        from vtr_record  u join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectVtrRecordList" parameterType="VtrRecord" resultMap="VtrRecordResult">
        <include refid="selectVtrRecordVo"/>
        <where><!--~--><!--~columnBegin_select-->
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
            </if><!--~dept_id_select-->
            <if test="subscribeId != null "> and subscribe_id = #{subscribeId}</if><!--~subscribe_id_select-->
            <if test="personnelName != null  and personnelName != ''"> and personnel_name like concat('%', #{personnelName}, '%')</if><!--~personnel_name_select-->
            <if test="registrationPhoto != null  and registrationPhoto != ''"> and registration_photo = #{registrationPhoto}</if><!--~registration_photo_select-->
            <if test="punchCardPhotos != null  and punchCardPhotos != ''"> and punch_card_photos = #{punchCardPhotos}</if><!--~punch_card_photos_select-->
            <if test="punchCardTime != null "> and punch_card_time = #{punchCardTime}</if><!--~punch_card_time_select-->
            <if test="punchCardState != null  and punchCardState != ''"> and punch_card_state = #{punchCardState}</if><!--~punch_card_state_select-->
        </where>
    </select>
    
    <select id="selectVtrRecordById" parameterType="Long" resultMap="VtrRecordResult">
        <include refid="selectVtrRecordVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertVtrRecord" parameterType="VtrRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into vtr_record
        <trim prefix="(" suffix=")" suffixOverrides=","><!--~--><!--~columnBegin_insert1-->
            <if test="deptId != null ">dept_id,</if><!--~dept_id_insert1-->
            <if test="subscribeId != null ">subscribe_id,</if><!--~subscribe_id_insert1-->
            <if test="personnelName != null  and personnelName != ''">personnel_name,</if><!--~personnel_name_insert1-->
            <if test="registrationPhoto != null  and registrationPhoto != ''">registration_photo,</if><!--~registration_photo_insert1-->
            <if test="punchCardPhotos != null  and punchCardPhotos != ''">punch_card_photos,</if><!--~punch_card_photos_insert1-->
            <if test="punchCardTime != null ">punch_card_time,</if><!--~punch_card_time_insert1-->
            <if test="punchCardState != null  and punchCardState != ''">punch_card_state,</if><!--~punch_card_state_insert1-->
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=","><!--~--><!--~columnBegin_insert2-->
            <if test="deptId != null ">#{deptId},</if><!--~dept_id_insert2-->
            <if test="subscribeId != null ">#{subscribeId},</if><!--~subscribe_id_insert2-->
            <if test="personnelName != null  and personnelName != ''">#{personnelName},</if><!--~personnel_name_insert2-->
            <if test="registrationPhoto != null  and registrationPhoto != ''">#{registrationPhoto},</if><!--~registration_photo_insert2-->
            <if test="punchCardPhotos != null  and punchCardPhotos != ''">#{punchCardPhotos},</if><!--~punch_card_photos_insert2-->
            <if test="punchCardTime != null ">#{punchCardTime},</if><!--~punch_card_time_insert2-->
            <if test="punchCardState != null  and punchCardState != ''">#{punchCardState},</if><!--~punch_card_state_insert2-->
         </trim>
    </insert>

    <update id="updateVtrRecord" parameterType="VtrRecord">
        update vtr_record
        <trim prefix="SET" suffixOverrides=","><!--~--><!--~columnBegin_update-->
            <if test="deptId != null ">dept_id = #{deptId},</if><!--~dept_id_update-->
            <if test="subscribeId != null ">subscribe_id = #{subscribeId},</if><!--~subscribe_id_update-->
            <if test="personnelName != null  and personnelName != ''">personnel_name = #{personnelName},</if><!--~personnel_name_update-->
            <if test="registrationPhoto != null  and registrationPhoto != ''">registration_photo = #{registrationPhoto},</if><!--~registration_photo_update-->
            <if test="punchCardPhotos != null  and punchCardPhotos != ''">punch_card_photos = #{punchCardPhotos},</if><!--~punch_card_photos_update-->
            <if test="punchCardTime != null ">punch_card_time = #{punchCardTime},</if><!--~punch_card_time_update-->
            <if test="punchCardState != null  and punchCardState != ''">punch_card_state = #{punchCardState},</if><!--~punch_card_state_update-->
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteVtrRecordById" parameterType="Long">
        delete from vtr_record where record_id = #{recordId}
    </delete>

    <delete id="deleteVtrRecordByIds" parameterType="String">
        delete from vtr_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

    <!--~--> <!--~actionBegin-->
</mapper>